---
title: "Bayesian Pricing Algorithm Applications in Mobility Industry"
draft: false
toc: true
number-sections: false
crossref:
    chapters: true
format:
    html:
        code-fold: false
jupyter: python3
---

# Abstract

Bayesian pricing models are important.

In [1]:
#| echo: false

#Import libraries
import opendatasets as od
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#| echo: false
### ONLY RUN ONCE ###
#Download dataset
#od.download("https://www.kaggle.com/datasets/yasserh/uber-fares-dataset")

In [3]:
#| echo: false

#Create dataframe from file
df = pd.read_csv("kaggle_datasets/uber-fares-dataset/uber.csv")

In [6]:
#Check dataframe
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [9]:
#Rename unnamed column
df = df.rename(columns={'Unnamed: 0': 'id'})